<h1 id="comhub-installation">ComHub Installation</h1>
<p>First you should clone the ComHub GitLab repository:</p>
<pre><code>git clone https://gitlab.com/Gustafsson-lab/comhub.git</code></pre>
<p>When using ComHub you need the have this repository as your working directory.</p>
<p>ComHub has some Minimum dependencies and some Additional dependencies. If ComHub only is used on a set of user-provided GRN predictions, it is only needed to install the minimum dependencies. It is also possible to run the method absolute value of Pearson correlation coefficient with only the minimum dependencies. Additional dependencies need to be installed if using the network inference methods: ARACNE, TIGRESS, CLR, and bootstrap Elastic Net. The network inference methods GENIE3, CLR(matlab), and TIGRESS(matlab) calls other scripts, which are downloaded as a part of ComHub. Note that the methods CLR and TIGRESS both has R-versions and MATLAB-versions available.</p>
<p>You can either install the ComHub dependencies using pip or conda. To use conda you first need to download <a href="https://www.anaconda.com/distribution/">Anaconda</a> with python 3. With conda you can create an evironment for comhub with:</p>
<pre><code>conda create --name comhub
conda activate comhub</code></pre>
<p>If you are not using conda you first need to install Python from https://www.python.org/downloads/.</p>
<h3 id="minimum-dependencies">Minimum dependencies</h3>
<pre><code>pip install numpy pandas scipy matplotlib seaborn</code></pre>
<p>or</p>
<pre><code>conda install python # if not already installed
conda install numpy pandas scipy matplotlib seaborn</code></pre>
<p>Versions used when testing comhub: - Python 3.6.9 - numpy 1.16.4 - pandas 0.25.1 - scipy 1.3.1 - matplotlib 3.1.1 - seaborn 0.9.0</p>
<h3 id="additional-dependencies">Additional dependencies</h3>
<p>To use bootstrap Elastic Net and bootstrap LASSO you need the python package scikit-learn and joblib:</p>
<pre><code>pip install scikit-learn
pip install joblib #Not needed if using Parallell=False </code></pre>
<p>or</p>
<pre><code>conda install scikit-learn
conda install joblib #Not needed if using Parallell=False </code></pre>
<p>The method CLR also requires scikit-learn to be installed.</p>
<p>The network inference methods ARACNE, CLR, and TIGRESS are written in R and therefore requires some R-packages. It is possible to install these R packages using conda but I prefer to have R separately installed.</p>
<p>Install R from https://www.r-project.org/.</p>
<p>Install rpy2 with:</p>
<pre><code>pip install rpy2</code></pre>
<p>The methods ARACNE and CLR uses the R package minet. Open R in your terminal and install the package minet with:</p>
<pre><code>if (!requireNamespace(&quot;BiocManager&quot;, quietly = TRUE))
    install.packages(&quot;BiocManager&quot;)
BiocManager::install(&quot;minet&quot;)</code></pre>
<p>Optionally you can use conda:</p>
<pre><code>conda install -c r r
conda install -c r rpy2
conda install -c bioconda bioconductor-minet</code></pre>
<p><a href="https://github.com/jpvert/tigress">TIGRESS(R)</a> can be installed from R with:</p>
<pre><code>install.packages(&#39;devtools&#39;)
library(devtools)
install_github(&quot;jpvert/tigress&quot;)</code></pre>
<p>It is possile to use the MATLAB version of TIGRESS and CLR. Then you should install Octave or MATLAB. These packages can be installed using conda. Octave:</p>
<pre><code>conda install -c conda-forge octave
conda install -c conda-forge oct2py</code></pre>
<p>MATLAB: - Download <a href="https://se.mathworks.com/products/get-matlab.html?s_tid=gn_getml">MATLAB</a> - Install <a href="https://se.mathworks.com/help/matlab/matlab-engine-for-python.html">MATLAB engine for python</a> with:</p>
<pre><code>cd &quot;/path/to/MATLAB/R2019a/extern/engines/python&quot; # often &quot;/usr/local/MATLAB/R2019a/extern/engines/python&quot;
sudo python3 setup.py install --prefix=&quot;/path/to/anaconda3/envs/comhub/&quot;</code></pre>
<p>Versions used when testing comhub: - scikit-learn 0.21.2 - joblib 0.13.2 - R 3.5.1 - rpy2 2.9.4 - minet 3.4.0 - GNU Octave 4.2.2 - oct2py 5.0.4 - MATLAB R2019a</p>
